<h1>Details of article</h1>

<p>
  <strong>Title:</strong>
  <strong><%= @article.title %></strong>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Create another article', new_article_path %>
<%= link_to 'List of articles', articles_path %>

