<footer class="footer mt-auto py-3">
  <div class="container">
    <a class="text-white">By <%= link_to 'German Vicentin.', "https://github.com/gervic08/alpha-blog", class: "text-white" %></a><a class="text-white"> 2022</a>
  </div>
</footer>